.App {
  text-align: center;
  min-height: 100vh;
  background-color: #181035;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footer{
  padding: 1rem;
  background-color: rgba(61, 60, 57, 0.651);
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footertext {
  font-size: 1.0rem;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-weight: normal;
}
